@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

/**************** 
    VARIABLES
*****************/
:root {
    /* Colors */
        /* Primary */
        --Red: hsl(1, 90%, 64%);
        --Blue: hsl(219, 85%, 26%);

        /* Neutral */
        --White: hsl(0, 0%, 100%);
        --Very-light-grayish-blue: #f7fafd;
        --Light-grayish-blue-1: #e5effa;
        --Light-grayish-blue-2: #dde7ee;
        --Grayish-blue: hsl(219, 14%, 63%);
        --Dark-grayish-blue: hsl(219, 12%, 42%);
        --Very-dark-blue: hsl(224, 21%, 14%);
}



/**************** 
    RESET
*****************/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
}




/**************** 
    MAIN
*****************/
body {
    min-height: 100vh;
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: var(--Very-light-grayish-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.block {
    min-height: 100vh;
    width: 100%;
    padding: 2.5rem 1.5rem 1.5rem 1.5rem;
    background-color: #fff;
}

@media screen and (min-width: 768px) {
    .block {
        max-width: 70rem;
        min-height: fit-content;
        border-radius: 15px;
        padding: 3rem 3rem 0 3rem;
        position: relative;
        bottom: 1rem;
    }
}



/**************** 
    HEADER
*****************/
.block__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2.5rem;
}

.block__header :nth-child(1) {
    font-size: clamp(2rem, 2vw + 1rem, 2.2rem);
    font-weight: bold;
}

.block__header :nth-child(2) {
    font-size: clamp(1.4rem, 1vw + 1rem, 1.5rem);
    color: var(--Dark-grayish-blue);
    padding-bottom: 1px;
    cursor: pointer;
}

.block__header :nth-child(2):hover {
    color: var(--Blue);
}



.block__header .notifications-count {
    align-items: center;
    background-color: var(--Blue);
    border-radius: 5px;
    color: var(--Very-light-grayish-blue);
    display: inline-flex;
    font-size: 1.6rem;
    height: 2.5rem;
    justify-content: center;
    position: relative;
    bottom: 4px;
    left: 5px;
    padding-bottom: 1px;
    width: 3.2rem;
}

@media screen and (min-width:768px) {
    .block__header {
        padding-bottom: 2rem;
    }
}



/**************** 
    NOTIFICATIONS CONTAINER
*****************/
.block__notifications-container {
    height: fit-content;
    width: 100%;
}

.block__notifications-container .notification {
    display: flex;
    padding: 1.6rem;
    font-size: 1.4rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    position: relative;
}

@media screen and (min-width: 768px) {
    .block__notifications-container .notification {
        margin-bottom: 0.8rem;
    }
}


/* Unread state modifier */
.unread {
    background-color: var(--Very-light-grayish-blue);
}



.notification-content {
    color: var(--Dark-grayish-blue);
    line-height: 1.3;
}


/* Names */
.notification-content .name a {
    color: #111;
    font-weight: 800;
}

.notification-content .name a:hover {
    color: var(--Blue);
}


/* Posts */
.notification-content .post a {
    font-weight: 800;
    color: var(--Grayish-blue);
}

.notification-content .post a:hover {
    color: var(--Blue);
}


/* Groups */
.notification-content .group a {
    text-decoration: none;
    color: var(--Blue);
    font-weight: 800;
}


/* Avatars */
.notification .notification-avatar {
    height: 4rem;
    margin-right: 1.5rem;
}


/* Red Dot */
.notification.unread .red-dot {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    display: inline-block;
    background-color: var(--Red);
    margin-left: 5px;
}


/* Time */
.notification-content .time {
    font-size: 1.4rem;
    color: var(--Grayish-blue);
}


/* Private messages */
.notification-content .message {
    font-size: 1.5rem;
    margin-top: 1rem;
    border: 1px solid var(--Light-grayish-blue-1);
    border-radius: 5px;
    padding: 1.5rem;
    cursor: pointer;
}

.notification-content .message a {
    color: var(--Dark-grayish-blue);
}

.notification-content .message:hover {
    background-color: var(--Light-grayish-blue-1);
}

@media screen and (min-width:768px) {
    .notification .message {
        padding: 1.5rem 2.2rem;
    }
}


/* Picture comments */
.notification .picture {
    height: 4rem;
    margin-left: auto;
}